<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Edit Book</h2>
    <%= link_to books_path, class: 'btn btn-sm btn-success' do %>
      <%= fa_icon "arrow-left" %> Back
    <% end %>
  </div>
</div>
<hr>
<%= render 'form' %>
